.image {
	width: 100%;
	position: absolute;
	background: black;
	left: -100%; /*all images start out of the way*/
	top: 0;
}
.arrow {
	height: 100px;
	z-index: 3; /*in front of gallery*/
	position: absolute;
	top: 50%; /*centre arrows vertically*/
	transform: translateY(-50%);
}
#left { /*make arrow point left (using right arrow image)*/
	left: 25px;
	transform: rotate(180deg) translateY(50%);
	opacity: 0; /*hidden when not hovered*/
	transition: 0.3s; /*for smooth opacity change*/
}
#right {
	right: 25px;
	opacity: 0;
	transition: 0.3s;
}
#gallery {
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
#gallery:hover > .arrow {
	opacity: 0.8; /*when gallery hovered, arrows become 80% opaque*/
}
#gallery img:not(.arrow) {
	position: relative;
	width: 100%;
}
.description {
	position: relative;
	width: 100%;
	padding-top: 10px;
	border-bottom: solid gray 1px;
}